@model Cinema.Domain.DTO.AddToShoppingCartDto

@{ ViewData["Title"] = "Add To Shopping Card";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<h1>Add Selected Ticket to User Shopping Cart:</h1>


<hr />

<div class="row">
    <div class="col-md-4 m-auto">
        <form asp-action="AddTicketToCart" method="post">
            <input type="hidden" asp-for="TicketId" />
            <div class="form-group">
                <label asp-for="Ticket.MovieName"></label>
                <input disabled asp-for="Ticket.MovieName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Ticket.MovieYear"></label>
                <input disabled asp-for="Ticket.MovieYear" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Ticket.MovieGenre"></label>
                <input disabled asp-for="Ticket.MovieGenre" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Ticket.TicketPrice"></label>
                <input disabled asp-for="Ticket.TicketPrice" class="form-control" />
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Ticket.StartDate"></label>
                        <input disabled asp-for="Ticket.StartDate" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Ticket.EndDate"></label>
                        <input disabled asp-for="Ticket.EndDate" class="form-control" />
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Add ticket to cart" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>