@{
    ViewData["Title"] = "Account Locked";
    Layout = "_Layout";
}

<h1>Account Locked</h1>

<p>Your account has been locked due to multiple unsuccessful login attempts. Please contact the administrator for assistance.</p>